# SPDX-FileCopyrightText: NONE
#
# SPDX-License-Identifier: CC0-1.0

.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
